#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        escc {
            bindings = <&kp ESC>;
            key-positions = <38 27>;
        };

        rightclick {
            bindings = <&mkp LCLK>;
            key-positions = <49 50>;
        };

        rightclick {
            bindings = <&mkp RCLK>;
            key-positions = <51 52>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <19 31>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alphabet {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans     &trans   &trans  &trans  &trans  &trans  &trans
&trans  &kp W   &trans  &trans  &trans  &trans     &trans   &trans  &trans  &trans  &trans  &trans
&trans  &kp C   &trans  &trans  &trans  &trans     &trans   &trans  &trans  &trans  &trans  &trans
&trans  &kp Q   &trans  &trans  &trans  &lt 1 K    &lt 1 X  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans     &trans   &trans
                                &trans  &trans     &trans
            >;
        };

        number {
            bindings = <
&trans  &trans  &trans  &trans       &trans  &trans    &trans  &trans  &trans       &trans  &trans  &trans
&trans  &trans  &trans  &trans       &trans  &trans    &trans  &trans  &trans       &trans  &trans  &trans
&trans  &trans  &trans  &trans       &trans  &trans    &trans  &trans  &trans       &trans  &trans  &trans
&trans  &trans  &trans  &bootloader  &trans  &trans    &trans  &trans  &bootloader  &trans  &trans  &trans
                        &trans       &trans  &trans    &trans  &trans
                                     &trans  &trans    &trans
            >;
        };

        navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans         &trans        &trans       &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans         &kp UP_ARROW  &trans       &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp HOME  &kp LEFT       &kp DOWN      &kp RIGHT    &kp END  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &kp PAGE_DOWN  &trans        &kp PAGE_UP  &trans   &trans
                        &trans  &trans  &trans    &trans    &trans
                                &trans  &trans    &trans
            >;
        };
    };
};
